     <form >
       <table>
         <tr>
           <td>
             <p>Username:<input matInput  [(ngModel)]="username" name="username"   
                         style="border-style:double;" required></p>
           </td>
         </tr>
         <tr>
         <td>
            Password:
           <input matInput  [(ngModel)]="password" type="password" name="password" 
              style="border-style:double;" required>
       </td>
       </tr></table>
     </form>
     <button mat-raised-button (click)="login()" color="primary">Login</button>
{{username}}
